@import "../../css/main.css";

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .8);
}

.board {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    position: relative;
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid var(--foreground-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* BORDER SETTING ----------------------------------*/
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}
/* ------------------------------------------------ */

.cell.x, .cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);   
}

.cell.x::before,
.cell.x::after {
    background: var(--foreground-color);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    background: var(--hover-color);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    position: absolute;
    content: '';
    border-radius: 50%; 
    
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::before {
    background: var(--foreground-color);
}

.board.o .cell:not(.x):not(.o):hover::before{
    background: var(--hover-color);

}


.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background: var(--background-color);
}


.winning-message {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.winning-message button {
    font-size: 3rem;
    padding: .25em .5em;
    cursor:pointer;
    border: 1px solid black ;
}

.winning-message button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(207, 207, 207);
    border: 1px solid rgb(207, 207, 207);
}

.winning-message.show {
    display: flex;    
}